@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: #111;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}